<?xml version="1.0"?>

<configuration>
    <system.web>
        <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="/error.aspx" />
    </system.web>
    <appSettings>
        <add key="adUrl" value="LDAP://your.url:port/DC=your,DC=url" />
        <add key="adUser" value="user" />
        <add key="adPass" value="pass" />
        <add key="intranet" value="http://your.directory.url/" />
    </appSettings>
</configuration>
